html, body, div, span, applet, object, iframe,
 h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,, caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  font-weight: 300;
  color: #888;
  line-height: 30px;
  text-align: center;
  vertical-align: baseline;
  background: transparent;
}


.textlogo{
  color: #00002c;
  
}

.download{
	float: right;   
	margin: -5px
}
.search{
	float: right;
	margin: 10px;
	padding: -10px;
}

.textlogo h1 {
	text-align:center;
  color: #333;
  font-size: 36px;
  font-weight: 600;
  margin: 2px 0;
  overflow: hidden;
  padding: 10px 0 10px 30px;
}




strong { font-weight: 500; }

a, a:hover, a:focus {
	color: #4aaf51;
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1{
	margin-top: 10px;
	font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

h2 {
  margin-top: 10px;
  font-size: 38px;
    font-weight: 100;
    color:black;
    line-height: 50px;
    text-align: center;
}


h3 {
	font-size: 22px;
    font-weight: 300;
    line-height: 30px;
}

img { max-width: 100%; }

::-moz-selection { background: #4aaf51; color: #fff; text-shadow: none; }
::selection { background: #4aaf51; color: #fff; text-shadow: none; }


.btn-link-1 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 16px 20px 0 20px;
	background: #4aaf51;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { outline: 0; opacity: 0.6; color: #fff; }

.btn-link-1.btn-link-1-facebook { background: #4862a3; }
.btn-link-1.btn-link-1-twitter { background: #55acee; }
.btn-link-1.btn-link-1-google-plus { background: #dd4b39; }

.btn-link-1 i {
	padding-right: 5px;
	vertical-align: middle;
	font-size: 20px;
	line-height: 20px;
}

.btn-link-2 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 15px 20px 0 20px;
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid #fff;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-2:hover, .btn-link-2:focus, 
.btn-link-2:active, .btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; }






/*--------------------------------
    menu style css
--------------------------------*/
.mainmenu {
	background-color: #00002c;
	min-height: 41px;
    color:#ffffff;
	border:none;
	margin:0px;
  	border-radius:0;
}  
.mainmenu .navbar-nav > li > a {
  	color:white;
	padding:11px 15px;
}
.mainmenu .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus, .nav .open > a:hover, .nav .open > a:focus  {
    color: #ffffff;
	background-color: #00002c;;
}     
.mainmenu .navbar-nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
	outline:none;
    background-color: #3b5998;
}    
.mainmenu .navbar-brand {
  	color:#eeeeee;
	padding: 10px 15px;
}
.mainmenu .navbar-toggle {
  background-color: #3b5998;
  border: 1px solid #ffffff;
  border-radius: 0px;
  color: #ffffff;
}
.mainmenu .icon-bar {
  	background-color:#3b5998;
}






@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}


@media (min-width: 768px) {
	.mainmenu .navbar-nav >.dropdown:hover .dropdown-menu {
		display: block;
	}
	
	.mainmenu .navbar-nav >.dropdown:hover .dropdown-menu ul{
		display: none;
	}
	
	.mainmenu .navbar-nav >.dropdown:hover .dropdown-menu:hover .dropdown-submenu ul{
		display: block;	
	}

	.mainmenu .navbar-nav >.dropdown:hover .dropdown-menu:hover .dropdown-submenu .dropdown-menu{
		display: none;	
	}
	
	.mainmenu .navbar-nav >.dropdown:hover .dropdown-menu:hover .dropdown-submenu:hover .dropdown-menu{
		display: block;	
	}

}




/***** Top content *****/



.top-content .text {
	color: #fff;
}

.top-content .text h1 { color: #fff; }

.top-content .description {
	margin: 20px 0 10px 0;
}

.top-content .description p { opacity: 0.8; }

.top-content .description a {
	color: #fff;
}
.top-content .description a:hover, 
.top-content .description a:focus { border-bottom: 1px dotted #fff; }

.form-box {
	background-color: black;
}

.form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: #080808;
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
	color: wheat;
	font-weight: 900;
}

.form-top-left h3 { margin-top: 0; }

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #ddd;
	line-height: 100px;
	text-align: right;
}

.form-bottom {
	padding: 25px 25px 30px 25px;
	background: #eee;
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
}

.form-bottom form textarea {
	height: 100px;
}

.form-bottom form button.btn {
	width: 100%;
}

.form-bottom form .input-error {
	border-color: #4aaf51;
}

.social-login {
	margin-top: 35px;
}

.social-login h3 {
	color: #fff;
}

.social-login-buttons {
	margin-top: 25px;
}



/*---------foooter------------*/

#footer {
    background:none;
	background-color:black;
}

#footer >.container{
    background:#1D1D1D;
    padding-top:20px;
    padding-bottom:15px;
}


.footer-content ul li i{
margin:20px 0;

}
.copyright {
  border-top: 1px solid #343434;
  margin: 10px auto;
  width: 98%;
}
.copyright-text {
  color: #c4c1c1;
  font-size: 14px;
  line-height: 22px;
  margin-top: 15px;
}

.social-button {
  padding-left: 49px;
}
.social-button p {
  color: #b8b8b8;
  float: left;
  margin: 7px 20px 7px 30px;
}
.social-button ul{
    list-style:none;

}
.social-button ul li {
  background: #494949;
  border-radius: 15px;
  float: left;
  font-size: 14px;
  height: 25px;
  margin: 3px;
  padding: 6px;
  width: 25px;
}
.social-button ul li:hover {
  background: #aaaaaa;
}
.social-button ul li a{
  color:#222222;
}
.social-button ul li a:hover{
  color:#222222;
}




/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {


}

@media (max-width: 415px) {
	
	h1, h2 { font-size: 32px; }

}

